
.reports
{
	margin-top: 30px; 
	margin-left:20px;
	float: left;
}

.reports table
{
	border-color: #3e3e3e;
	border-style:solid;
	
	margin-left : 20px;	
}
.reports table tr
{
	border: 1px;
	border-color: #3e3e3e;
	border-style:solid;	
}
.reports table th
{
	color: #234586;
}